<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=windows-31j">
<title>ToDoList - List Works</title>
<link rel='stylesheet' href='plugins/fullcalendar/fullcalendar.css' />
<link rel='stylesheet' href='templates/css/common.css' />
<script src='plugins/fullcalendar/lib/jquery.min.js'></script>
<script src='plugins/fullcalendar/lib/moment.min.js'></script>
<script src='plugins/fullcalendar/fullcalendar.js'></script>
<script src='templates/js/javascript.js'></script>
<script src='templates/js/fullCalendar.js'></script>
</head>
<body>
<h1>WEB SYSTEM TO MANAGE YOUR WORK - TODOLIST</h1>
	<table class="tbl-action">
		<tr>
			<td class="title"><a href="index.php?action=showWorks">List Works</a></td>
			<td class="title"><a href="index.php?action=addWork">Add Work</a></td>
		</tr>
	</table>
